//@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

$fa-font-path: "webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/light.scss";

// Mixins from compass

// Hides text in an element by squishing the text into oblivion.
// Use this if you need to hide text contained in an inline element
// but still have it read by a screen reader.
@mixin squish-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

// Turn off the bullet for an element of a list
@mixin no-bullet {
  list-style-image : none;
  list-style-type  : none;
  margin-left      : 0;
}

// turns off the bullets for an entire list
@mixin no-bullets {
  list-style: none;
  li { @include no-bullet; }
}

// makes a list inline.
@mixin inline-list {
  list-style-type: none;
  &, & li {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

$header: #2c6d45;
$text: #111;

@mixin fancy-header {
  color: $header;
  text-transform: uppercase;
}

@media print {
  body {
    //-moz-transform: rotate(-90deg) scale(.50,.50);
    zoom: 60%;
    color: #000;
    a { color: #000 };
  }

  #printFooter {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media screen {
  #printFooter {
    display: none;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $text;
  width: 60em;
  margin: auto;
  font-size: 16px;
  // line-height: 24px;
}

h1, h2, h3 {
  font-weight: 300;
  margin: 0;
}

a {
  color: $header;
}

p {
  line-height: 24px;
}

li {
  list-style-type: square;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20px;
  padding-left: 16px;
  border-left: 4px solid #666;
}

#page {
  margin: 1em;
  position: relative;
}

#paul-sadauskas {
  text-transform: uppercase;
  margin: 0;
  font-size: 4em;
}

#senior-web-application-engineer {
  @include fancy-header;
  font-size: 2em;
  margin-top: 0;
}

#contact-info {
  @include squish-text;

  & + ul {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3em;

    @include no-bullets;

    li {
      margin-bottom: 0.75em;
      @include fancy-header;

      &:before {
        @extend %fa-icon;
        @extend .fal;

        font-size: 1.75em;
        margin: 0 0.5em 0 -1.5em;
        display: inline-block;
        width: 1em;
        position: relative;
        top: 8px;
        color: #666;
      }

      &:first-child {
        &:before {
          content: "\f2b6";
        }
      }

      &:nth-child(2) {
        &:before {
          content: "\f37e";
        }
      }

      &:nth-child(3) {
        &:before {
          content: "\f126";
        }
      }

    }

    a {
      display: block;
      color: $text;
      text-decoration: none;
      text-transform: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#passionate-about-the-craft-of-creating-software {
  display: block;
  margin: 3em auto 0 auto;
  width: 100%;
  text-align: center;
}

.achievement {
  display: flex;

  .time {
    flex: 0 0 6em;
    max-width: 8em;
    display: block;
  }

  .end_date:before {
    content: "\02014";
  }

  .title {
    &:before {
      @extend %fa-icon;
      @extend .fal;

      margin-right: 0.2em;
      color: #666;
    }
  }

  &.job {
    .title:before {
      content: "\f1ad";
    }
  }

  &.talk {
    .title:before {
      content: "\f685";
    }
  }

  &.oss {
    .title:before {
      content: "\f121";
    }
  }

  .body {
    flex: 1 1 auto;
    border-left: 1px solid #999;
    padding-left: 1ex;
  }

  h3 {
    .title {
      background-color: transparent;
      @include fancy-header;

      &:after {
        color: $text;
        content: " @";
      }
    }
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 1em;

  &:before {
    font-family: FontAwesome;
    color: $header;
    content: "\f105";
    padding-right: 0.5ex;
  }

  & + ul {
    font-size: 1em;
    text-transform: none;

    li > p {
      width: 100%;

      & > a {
        color: $text;
      }


    }
  }
}

footer {
  margin-bottom: 3em;

  h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.2em;
  }

  ul {
    @include inline-list;

    li {
      padding-right: 2em;
    }
  }
}
