@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

@import "compass/typography/lists/bullets";
@import "compass/typography/lists/inline-list";
@import "compass/typography/text/replacement";

$header: #80d6f8;
$text: #222;

@mixin fancy-header {
  color: $header;
  text-transform: uppercase;
}

@media print {
  body {
    //-moz-transform: rotate(-90deg) scale(.50,.50);
    zoom: 40%;
    color: #000;
    a { color: #000 };
  }

  #printFooter {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media screen {
  #printFooter {
    display: none;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $text;
  width: 60em;
  margin: auto;
}

h1, h2, h3 {
  font-weight: 300;
  margin: 0;
}

a {
  color: $header;
}

#page {
  margin: 1em;
  position: relative;
}

#paul-sadauskas {
  text-transform: uppercase;
  margin: 0;
  font-size: 4em;
}

#senior-web-application-engineer {
  @include fancy-header;
  font-size: 2em;
  margin-top: 0;
}

#contact-info {
  @include squish-text;

  & + ul {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 3em;

    @include no-bullets;

    li {
      margin-bottom: 0.75em;
      @include fancy-header;

      &:before {
        font-family: FontAwesome;
        font-size: 1.75em;
        font-weight: 300;
        margin: 0 0.5em 0 -1.5em;
        display: inline-block;
        width: 1em;
        position: relative;
        top: 8px;
        color: #666;
      }

      &:first-child {
        &:before {
          content: "\f003";
        }
      }

      &:nth-child(2) {
        &:before {
          content: "\f13b";
        }
      }

      &:nth-child(3) {
        &:before {
          content: "\f09b";
        }
      }

    }

    a {
      display: block;
      color: $text;
      text-decoration: none;
      text-transform: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

#passionate-about-the-craft-of-creating-software {
  display: block;
  margin: 3em auto 0 auto;
  width: 80%;
  text-align: center;

  & ~ p {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.6em;
  margin-top: 1em;

  &:before {
    font-family: FontAwesome;
    color: $header;
    content: "\f105";
  }

  & + ul {
    font-size: 1em;
    text-transform: none;
    @include no-bullets;
    padding: 0;

    li > p {
      width: 100%;

      & > em { // dates
        float: right;
      }

      & > mark { // job title
        background-color: transparent;
        @include fancy-header;

        &:after {
          color: $text;
          content: " @";
        }

      }

      & > a {
        color: $text;
      }


    }
  }
}

#notable-professional-skills {

  & + p {
    & + ul {
      @include no-bullets;
    }
  }
}

footer {
  margin-bottom: 3em;

  h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.2em;
  }

  ul {
    @include inline-list;

    li {
      padding-right: 2em;
    }
  }
}
