//@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

$fa-font-path: "webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/light.scss";

// Mixins from compass

// Hides text in an element by squishing the text into oblivion.
// Use this if you need to hide text contained in an inline element
// but still have it read by a screen reader.
@mixin squish-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

// Turn off the bullet for an element of a list
@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

// turns off the bullets for an entire list
@mixin no-bullets {
  list-style: none;

  li {
    @include no-bullet;
  }
}

// makes a list inline.
@mixin inline-list {
  list-style-type: none;

  &,
  & li {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

$header: #2c6d45;
$text: #111;

@mixin fancy-header {
  color: $header;
  font-variant-caps: small-caps;
}

@media print {
  body {
    //-moz-transform: rotate(-90deg) scale(.50,.50);
    zoom: 60%;
    color: #000;

    a {
      color: #000
    }

    ;
  }

  #printFooter {
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media screen {
  #printFooter {
    display: none;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $text;
  width: 60em;
  margin: auto;
  font-size: 16px;
  // line-height: 24px;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

a {
  color: $header;
}

p {
  line-height: 24px;
}

li {
  list-style-type: square;
}

b,
strong {
  font-weight: 500;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 20px;
  padding-left: 16px;
  border-left: 4px solid #666;
}

#page {
  display: grid;
  grid-template-columns: 1fr 16rem;
  grid-template-rows: auto;
  grid-template-areas:
    "hero contact"
    "main main"
    "footer footer";

  padding: 4rem 0;
}

.hero {
  grid-area: hero;
}

.contact {
  grid-area: contact;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.hero h1 {
  font-variant-caps: small-caps;
  margin: 0;
  font-size: 4em;
}

.hero h2 {
  font-variant-caps: small-caps;
  font-size: 2em;
  margin-top: 0;
}

.contact {
  h1 {
    @include squish-text;
  }

  ul {
    padding-right: 3em;

    @include no-bullets;

    li {
      margin-bottom: 0.75em;
      font-size: 1.2rem;
      color: $header;
      text-transform: uppercase;

      &:before {
        @extend %fa-icon;
        @extend .fal;

        font-size: 1.75em;
        margin: 0 0.5em 0 -1.5em;
        display: inline-block;
        width: 1em;
        position: relative;
        top: 12px;
        color: #666;
      }

      &:first-child {
        &:before {
          content: "\f2b6";
        }
      }

      &:nth-child(2) {
        &:before {
          content: "\f37e";
        }
      }

      &:nth-child(3) {
        &:before {
          content: "\f126";
        }
      }

    }

    a {
      display: block;
      color: $text;
      text-decoration: none;
      text-transform: none;
      font-variant-caps: normal;
      font-size: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#about {
  display: block;
  margin: 2em auto 0 auto;
  width: 100%;
  text-align: center;

  color: $text;
  font-size: 2.5em;
}

.achievement {
  display: flex;

  .time {
    flex: 0 0 6em;
    max-width: 10em;
    display: block;
  }

  .end_date:before {
    content: "\02014";
  }

  .title {
    &:before {
      @extend %fa-icon;
      @extend .fal;

      margin-right: 0.2em;
      color: #666;
    }
  }

  .body {
    flex: 1 1 auto;
    border-left: 1px solid #999;
    padding-left: 1ex;
  }

  h2 {
    .title {
      background-color: transparent;

    }

    .company:before {
      color: $text;
      content: " @";
    }

  }
}

section {
  h1 {
    @include fancy-header();
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.17em;

    &+ul {
      font-size: 1em;
      text-transform: none;

      li>p {
        width: 100%;

        &>a {
          color: $text;
        }


      }
    }
  }
}

.skills {
  h1:before {
    @extend %fa-icon;
    @extend .fal;

    margin-right: 0.2em;
    content: "\f53f";
  }
}

.jobs {
  h1:before {
    @extend %fa-icon;
    @extend .fal;

    margin-right: 0.2em;
    content: "\f1ad";
  }
}

.talks {
  h1:before {
    @extend %fa-icon;
    @extend .fal;

    margin-right: 0.2em;
    content: "\f685";
  }
}

.opensource {
  h1:before {
    @extend %fa-icon;
    @extend .fal;

    margin-right: 0.2em;
    content: "\f121";
  }
}

.tech {
  h1:before {
    @extend %fa-icon;
    @extend .fal;

    margin-right: 0.2em;
    content: "\f0eb";
  }
}

footer {
  margin-bottom: 3em;

  h1 {
    font-size: 2em;
    @include fancy-header();
  }

  ul {
    @include inline-list;

    li {
      padding-right: 2em;
    }
  }
}
