<!DOCTYPE HTML>

<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Resume of Paul Sadauskas</title>
   <meta name="author" content="Paul Sadauskas" />

   <!--- Blueprint CSS Framework -->
   <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="container">

   <div class="column span-20 prepend-2 append-2 first last" id="header">
     <h1 class="title">Resume of Paul Sadauskas</h1>
     <hr>
   </div>

   <div id="content" class="column span-15 prepend-2 first">
      <%= yield %>
   </div>

   <div id="sidebar" class="column span-5 append-2 last">
      <h4>About Paul Sadauskas</h4>
      <p>
        A professional software engineer living in scenic Boulder, CO. In addition to programming, enjoys backpacking and rock-climbing.
      </p>
      <ul>
      </ul>

      <h4>Open-Source Projects</h4>
      <ul>
        <li><a href="http://github.com/paul/resourceful">Resourceful</a></li>
        <li><a href="http://datamapper.org">DataMapper</a></li>
      </ul>

      <h4>Personal Links</h4>
      <ul>
        <li><a href="https://github.com/paul">Github page</a></li>
        <li><a href="http://blog.theamazingrando.com">My Blog</a></li>
      </ul>

      <h4>Download</h4>
      <ul>
        <li><a class="icon pdf"   href="/Paul Sadauskas's Resume.pdf">Resume.pdf</a></li>
        <!--
        <li><a class="icon doc"   href="/Paul Sadauskas's Resume.doc">Resume.doc</a></li>
        <li><a class="icon pages" href="/Paul Sadauskas's Resume.pages">Resume.pages</a></li>
        -->
      </ul>

      <h4>Resume Source</h4>
      <ul>
        <li>
          <a href="https://github.com/paul/resume/blob/master/resume.mkd">Markdown</a>
        </li>
        <li>
          <a href="https://github.com/paul/resume/">Github Repo</a>
        </li>
      </ul>

   </div>

</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-406374-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
