body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 { color: #111; }

a                 { color: #125AA7; }
a:hover           { color: #000; }
blockquote        { color: #666; }

a img { text-decoration: none; margin: 0 1ex 0 0; }

hr {
  background: #B2CCFF;
  color:      #B2CCFF;
}

#header h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

a.icon {
  padding-left: 18px;
  background-position: top 1px;
  background-repeat:   no-repeat;
  display: inline-block;
}

a.pdf {
  background-image: url(/images/pdf-icon.gif);
}

a.doc {
  background-image: url(/images/doc-icon.gif);
}

a.pages {
  background-image: url(/images/pages-icon.gif);
}

@media print {
  #content { font-size: 12px; }
  #about { display: none; }
}
