<!DOCTYPE HTML>

<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Resume of Paul Sadauskas</title>
   <meta name="author" content="Paul Sadauskas" />

   <!--- Blueprint CSS Framework -->
   <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />

   <!-- CodeRay syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/coderay.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="container">

   <div class="column span-20 prepend-2 append-2 first last" id="header">
     <p class="title">Resume of Paul Sadauskas</p>
     <hr>
   </div>

   <div class="column span-15 prepend-2 first">
      <%= yield %>
   </div>

   <div class="column span-5 append-2 last">
      <h4>About Paul Sadauskas</h4>
      <p>
        A professional software engineer living in scenic Boulder, CO. In addition to programming, enjoys backpacking and rock-climbing.
      </p>
      <ul>
      </ul>

      <h4>Open-Source Projects</h4>
      <ul>
        <li><a href="http://github.com/paul/resourceful">Resourceful</a></li>
        <li><a href="http://datamapper.org">DataMapper</a></li>
      </ul>

      <h4>Personal Links</h4>
      <ul>
        <li><a href="https://github.com/paul">Github page</a></li>
        <li><a href="http://blog.theamazingrando.com">My Blog</a></li>
      </ul>

   </div>

</div>
</body>
</html>
